.App {
	font-family: sans-serif;
}

body {
	padding: 0;
	margin: 0;
}

.btn-primary {
	background-color: rgb(50, 58, 66);
	border: none;
}

.btn-primary:hover {
	background-color: rgb(23, 29, 34);
}

.navbar-brand:hover {
	cursor: pointer;
}

.username {
	color: #657786;
}

.authorOfPost {
	display: flex;
}

.authorOfPostNames {
	display: flex;
	flex-direction: column;
}
